.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    place-items: center;
}

.drop-box{
    width:40%;
    height: 0%;
}

.body-div {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 90%;
    height: 90%;
    max-height: 90%; 
    overflow-y: auto;
}

.data-table {
    height: inherit;
    width: 95%;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid black; 
    padding: 5px 10px;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.data-table tbody tr:nth-child(even) {
    background-color: #aaaaaa;
}

.data-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

