.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    place-items: center;
}

.drop-box{
    width:40%;
    height: 0%;
}

.data-table{
    height: 90%;
    width: 95%;
    background-color: wheat;
    border-radius: 20px;
    border:solid 2px black;
}